<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ilusoesindustriais.com.locadora">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Batman">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".LoginRegistradoActivity" />
        <activity android:name=".Generos" />
        <activity android:name=".Acao" />
        <activity android:name=".Animacao" />
        <activity android:name=".Aventura" />
        <activity android:name=".Comedia" />
        <activity android:name=".Scifi" />
        <activity android:name=".Terror" />
        <activity android:name=".Documentario" />
        <activity android:name=".Musical" />
        <activity android:name=".Guerra" />
        <activity android:name=".Deadpool" />
        <activity android:name=".Bourne" />
        <activity android:name=".DieHard" />
        <activity android:name=".Bond" />
        <activity android:name=".Mad" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Dragon" />
        <activity android:name=".Nemo" />
        <activity android:name=".Panda" />
        <activity android:name=".Mente" />
        <activity android:name=".Toy" />
        <activity android:name=".Gelo" />
        <activity android:name=".Cart"></activity>
    </application>

</manifest>